td.details-control {
    background: url(#{request.contextPath}/resources/imagens/mais.gif) no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url(#{request.contextPath}/resources/imagens/menos.gif) no-repeat center center;
}

.datatable thead, table.dataTable tbody tr{
	color: rgb(51, 51, 51);
	background-color: rgb(235, 235, 235);
	/*background-color: rgb(213, 213, 213);*/
	/*background-color: rgb(235, 235, 235) !important;*/
}

.datatable tbody > tr{
	background-color: rgb(235, 235, 235) !important;
}

.datatable tbody > tr td{
	background-color: rgb(235, 235, 235) !important;
}

.datatable table tr.um td{
  background: #F4FCFE !important;
}
.datatable table tr.dois td{
  background: #d9e1f4!important;
}

.datatable tr [colspan="4"] {
    padding: 0 !important;
}

table.dataTable.display tbody tr:hover {
	/*background-color:  initial;*/
}

/*
td.details-control {
    background: url('details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('details_close.png') no-repeat center center;
}*/